APP_NAME="Shipment Tracker"
APP_ENV=production
APP_KEY=base64:GENERATE_THIS
APP_DEBUG=false
APP_URL= https://shipmenttracking.onrender.com

APP_TIMEZONE=UTC
APP_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DATABASE_URL=postgresql://user:password@host:5432/shipment_tracker

# Sessions
SESSION_DRIVER=file

# Cache
CACHE_STORE=file

# Queue (IMPORTANT for free plan)
QUEUE_CONNECTION=sync

# Filesystem
FILESYSTEM_DISK=local

# Mail (safe for demo)
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="Shipment Tracker"